!.gitignore

# python bytecode files
*.py[cdo]

# auto backup files
*~
~*
*.sw[a-z]
*.bak*

# setup.py related files
/MANIFEST
/release
/build
/dist
/R_Overlay.egg-info/
/roverlay_files.list

/tmp/

# roverlay output files / directories, e.g. the created overlay
/log
/distfiles-root
/overlay-root
/created_overlay
/desc-files
/workdir

# documentation files locally maintained (i.e. generated)
/doc/pydoc

# local files
/local
*.local
*.local.*
/R-overlay.conf.tests

# files/dirs to ignore
.keep
