!.gitignore

# python bytecode files
*.py[cdo]

# auto backup files
*~
~*
*.sw[a-z]
*.bak*

# setup.py related files
/MANIFEST
/release
/build
/dist

# roverlay output files / directories, e.g. the created overlay
/log
/distfiles-root
/overlay-root
/created_overlay
/desc-files

# documentation files locally maintained (i.e. generated)
/doc/pydoc

# local files
/local
*.local
